<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.darographix.AetherCodex</string>
  <key>name</key>
  <string>AetherCodex</string>
  <key>CFBundleName</key>
  <string>AetherCodex</string>
  <key>CFBundleVersion</key>
  <string>0.1.0</string>
  <key>TextMateCompatibilityVersion</key>
  <string>1.0</string>
  <key>uuid</key>
  <string>5B515E07-BFF7-4A84-9614-69B2FFC68C57</string>
</dict>
</plist>
